<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title >
      Calculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Operação : </ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="operacao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Resultado : </ion-label>
    <ion-input>{{resultado}}</ion-input>
  </ion-item>

  <ion-grid size="100xs">
<!------------------Primeira Linha ------------------------------>
    <!--<ion-row size="10xs" >
     
      <ion-item lines="full" class="item-has-focus ion-touched">
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">MC</h6></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">MR</h6></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">M+</h6></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">M-</h6></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">MS</h6></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item button lines="none">
          <ion-label><h6 style="font-size: 10px">Mª</h6></ion-label>
        </ion-item>
      </ion-col>
      
     </ion-item>



    </ion-row>-->
<!------------------Segundo Linha -------------------------------->
    <ion-row size="15xs">

      <ion-col size="3" class="ion-align-self-center" > 
        <ion-item (click)="adicionarValor('%')" button lines="none" >
          <h3>%</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3" > 
        <ion-item (click)="limparOperacao('CE')" button lines="none">
          <h3>CE</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="limparMemoria('C')" button lines="none">
          <h3>C</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="apagarCaracter('(X)')" button lines="none">
          <h3><ion-icon name="caret-back-outline"></ion-icon></h3>
        </ion-item>
      </ion-col>
      
     

    </ion-row>
<!------------------Terceira Linhas ------------------------------>
    <ion-row size="15xs">

      <ion-col size="3"> 
        <ion-item button lines="none" >
          <h3>¹/x</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none">
          <h3>x²</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none">
          <h3>²/x</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('/')" button lines="none">
          <h3>/</h3>
        </ion-item>
      </ion-col>
  
    </ion-row>
<!------------------Quarta Linhas -------------------------------->
    <ion-row size="15xs"> 
      
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('7')"  lines="none">
          <h3>7</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('8')" button lines="none">
          <h3>8</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('9')" button lines="none">
          <h3>9</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('*')"button lines="none">
          <h3>*</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Quinta Linhas -------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('4')"  button lines="none">
          <h3>4</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('5')" button lines="none">
          <h3>5</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('6')" button lines="none">
          <h3>6</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('-')" button lines="none">
          <h3>-</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Sexta Linhas --------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('1')"button lines="none">
          <h3>1</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('2')" button lines="none">
          <h3>2</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('3')" button lines="none">
          <h3>3</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('+')" button lines="none">
          <h3>+</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Seitma Linhas -------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item button lines="none">
          <h3>+/-</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('0')" button lines="none">
          <h3>0</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor(',')" button lines="none">
          <h3>,</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item (click)="adicionarValor('=')" button color="primary" lines="none">
          <h3>=</h3>
        </ion-item>
      </ion-col>

    </ion-row>
    
  </ion-grid>
  
</ion-content>
