<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="limpar()">
        <ion-icon  size="large"  ios="refresh-outline" md="refresh-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title color="light">
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Valor 1 : </ion-label>
    <ion-input  placeholder="Escreva o valor 1" [(ngModel)]="valor1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="floating">Valor 2 : </ion-label>
    <ion-input placeholder="Escreva o valor 2"  [(ngModel)]="valor2"></ion-input>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="3">

        <ion-button color="dark" (click)="somar()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

      </ion-col>

      <ion-col size-md="3">
        <ion-button color="dark" (click)="subi()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </ion-col >

      <ion-col size-md="3">
        <ion-button  color="dark"  (click)="multi()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size-md="3">
        <ion-button color="dark" (click)="divi()">
          <ion-icon name="code-slash-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size-md="6">

        <ion-button color="medium" expand="full" size="medium" (click)="maior()">Maior</ion-button>

      </ion-col>

      <ion-col size-md="6">
        <ion-button color="medium" expand="full" size="medium" (click)="menor()">Menor</ion-button>
      </ion-col >

    </ion-row>

  </ion-grid>

  <ion-item lines="full">
    <ion-label position="floating">Resultado : </ion-label> 
    <ion-input rows="6" cols="20" placeholder="" [(ngModel)]="resultado"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Conta : </ion-label> 
    <ion-input rows="6" cols="20" placeholder="" (click)="resp()"></ion-input>
  </ion-item>


</ion-content>  